@import url(variables.css);

body{
  background-color: var(--star);
}

.flexbox{
  display: flex;
  align-items: center;
  justify-content: center;
}

#beast{
  background-color: var(--beast);
  width: 100px;
  height: 30px;
  transition: all 1.25s;
}

#beast:hover{
  transform: translateY(-10); 
}

.Beast{
  width: 100%;
  height: 500px;
  transition: background-color 0.75s;
  position: relative;
}

.Beast:hover{
  background-color: var(--beast);
}

#spirit{
  background-color: var(--spirit);
}

.Spirit{
  background-color:  var(--spirit);
  
}

#star{
  background-color: var(--star);
}

.star{
  background-color: var(--star);
}

#plant{
  background-color: var(--plant);
}

.plant{
  background-color: var(--plant);
}

#intelligence{
  background-color: var(--intelligence);
}

.intelligence{
  background-color: var(--intelligence);
}

.img{
  height: 75%;
  transform:translateX(-90px) ;
  opacity: 75%;
}

.six{
  background-color: var(--six);
  width: 13%;
  height: 500px;
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items:start;
  overflow: hidden;
  position: relative;
  transition: all 0.9s;

}



.header{
  display: flex;
  width: 100%;
  align-items: start;
  margin-left: 20px;
  justify-content: start;
  flex-direction: column;
}

.footer{
  display: flex;
  width: 100%;
  flex-direction: column;
  padding-right:20px;
}
.footer h3{
  text-align: center;
}