@import url(variables.css);

body{
  background-color: var(--star);
}

.flexbox{
  display: flex;
  align-items: center;
  justify-content: center;
}

#beast{
  background-color: var(--beast);
}

.Beast{
  background-color:  var(--beast);
  width: 12%;
  height: 500px;
  margin: 25px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#spirit{
  background-color: var(--spirit);
}

.Spirit{
  background-color: var(--spirit);
}

#star{
  background-color: var(--star);
}

.star{
  background-color: var(--star);
}

#plant{
  background-color: var(--plant);
}

.plant{
  background-color: var(--plant);
}

#intelligence{
  background-color: var(--intelligence);
}

.intelligence{
  background-color: var(--intelligence);
}

.img{
  width: 300%;
}