:root{
    --star: #74bef0;
    --beast: #d46262;
    --mineral: #b97f64d7;
    --plant: #74e490;
    --spirit: #c361cc;
    --intelligence:#f1cf6e;
    --six: #e69832;
    --five: #e6cb32;
    --four: #ba3aec;
    --three: #3a87ec;
    --two: #48d15a;
};

.light{
    --star: #74bef0;
}

.dark{
    --star: #4c7d9e;
    --beast: #994747;
    --mineral: #8a5e4ad7;
    --plant: #4b915d;
    --spirit: #7a3d80;
    --intellegence:#b69b51;
}