:root{
    font-family: Yatra One;

    --star: #74bef0;
    --beast: #d46262;
    --mineral: #b97f64d7;
    --plant: #74e490;
    --spirit: #c361cc;
    --intellect:#f1cf6e;
    --six: #e69832;
    --five: #e6cb32;
    --four: #ba3aec;
    --three: #3a87ec;
    --two: #48d15a;
    --seven: #ff2929;
}

.Light{
    --primary: #bdbdbd;
    --secondary: #ececec;
    --tertiary: #adadad;
    --text: #000000;
}

.Dark{
    --primary: #414141;
    --secondary: #616161;
    --tertiary: #747373;
    --text: #ffffff;
}

.Blue{
    --primary: #b42d2d;
    --secondary: #616161;
    --tertiary: #747373;
    --text: #ffffff;
}

.Red{
    --primary: #414141;
    --secondary: #616161;
    --tertiary: #747373;
    --text: #ffffff;
}

